# UN Trade Data

# Step 0
Data: UN Trade dataset 
url: https://comtradeplus.un.org

# Step 1

In [27]:
import pandas as pd

df = pd.read_csv("Trade.csv", encoding="latin1")

df

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
C,M,20240101,2024,1,202401,20,AND,Andorra,X,Export,...,True,0,False,NaN,1.670017e+07,1.670017e+07,4,False,True,NaN
C,M,20240101,2024,1,202401,24,AGO,Angola,X,Export,...,False,0,False,NaN,2.818986e+09,2.818986e+09,0,False,True,NaN
C,M,20240101,2024,1,202401,28,ATG,Antigua and Barbuda,X,Export,...,True,0,False,NaN,1.213660e+07,1.213660e+07,4,False,True,NaN
C,M,20240101,2024,1,202401,31,AZE,Azerbaijan,X,Export,...,False,0,False,NaN,1.843977e+09,1.843977e+09,0,False,True,NaN
C,M,20240101,2024,1,202401,32,ARG,Argentina,X,Export,...,False,0,False,NaN,5.412324e+09,5.412324e+09,0,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C,M,20241201,2024,12,202412,818,EGY,Egypt,X,Export,...,False,0,False,NaN,3.955931e+09,3.955931e+09,0,False,True,NaN
C,M,20241201,2024,12,202412,826,GBR,United Kingdom,X,Export,...,False,0,False,NaN,4.628692e+10,4.628692e+10,0,False,True,NaN
C,M,20241201,2024,12,202412,842,USA,USA,X,Export,...,True,0,False,NaN,1.660176e+11,1.660176e+11,4,False,True,NaN
C,M,20241201,2024,12,202412,854,BFA,Burkina Faso,X,Export,...,True,0,False,NaN,6.669848e+08,6.669848e+08,4,False,True,NaN
C,M,20241201,2024,12,202412,860,UZB,Uzbekistan,X,Export,...,False,0,False,NaN,1.865042e+09,1.865042e+09,0,False,True,NaN

In [28]:
# dataset description
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1110 entries, C to C
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  1110 non-null   object
 1   freqCode                  1110 non-null   int64
 2   refPeriodId               1110 non-null   int64
 3   refYear                   1110 non-null   int64
 4   refMonth                  1110 non-null   int64
 5   period                    1110 non-null   int64
 6   reporterCode              1110 non-null   object
 7   reporterISO               1110 non-null   object
 8   reporterDesc              1110 non-null   object
 9   flowCode                  1110 non-null   object
 10  flowDesc                  1110 non-null   int64
 11  partnerCode               1110 non-null   object
 12  partnerISO                1110 non-null   object
 13  partnerDesc               1110 non-null   int64
 14  partner2Code              1110 non-null   object
 15  partner2ISO               1110 non-null   object
 16  partner2Desc              1110 non-null   object
 17  classificationCode        1110 non-null   object
 18  classificationSearchCode  1110 non-null   bool
 19  isOriginalClassification  1110 non-null   object
 20  cmdCode                   1110 non-null   object
 21  cmdDesc                   1110 non-null   int64
 22  aggrLevel                 1110 non-null   bool
 23  isLeaf                    1110 non-null   object
 24  customsCode               1110 non-null   object
 25  customsDesc               1110 non-null   int64
 26  mosCode                   1110 non-null   int64
 27  motCode                   1110 non-null   object
 28  motDesc                   1110 non-null   int64
 29  qtyUnitCode               0 non-null      float64
 30  qtyUnitAbbr               1110 non-null   int64
 31  qty                       1110 non-null   bool
 32  isQtyEstimated            1110 non-null   int64
 33  altQtyUnitCode            0 non-null      float64
 34  altQtyUnitAbbr            1110 non-null   int64
 35  altQty                    1110 non-null   bool
 36  isAltQtyEstimated         630 non-null    float64
 37  netWgt                    1110 non-null   bool
 38  isNetWgtEstimated         1110 non-null   int64
 39  grossWgt                  1110 non-null   bool
 40  isGrossWgtEstimated       16 non-null     float64
 41  cifvalue                  1110 non-null   float64
 42  fobvalue                  1110 non-null   float64
 43  primaryValue              1110 non-null   int64
 44  legacyEstimationFlag      1110 non-null   bool
 45  isReported                1110 non-null   bool
 46  isAggregate               0 non-null      float64
dtypes: bool(8), float64(7), int64(16), object(16)
memory usage: 355.5+ KB

numerical column: cifvalue
CIF stands for (Cost, Insurance, Freight), the value is in USD to determine the value of export

In [32]:
df["cifvalue"].info()

<class 'pandas.core.series.Series'>
Index: 1110 entries, C to C
Series name: cifvalue
Non-Null Count  Dtype
--------------  -----
1110 non-null   float64
dtypes: float64(1)
memory usage: 49.6+ KB

# Step 2
Calculating mean, median and mode of Export based on CIF Value

In [33]:
# mean
mean_export = df["cifvalue"].mean()
# Round to 2 decimal places
mean_export = round(mean_export, 2)

# median
median_export = df["cifvalue"].median()
# Round to 2 decimal places
median_export = round(median_export, 2)

# mode
mode_export = df["cifvalue"].mode()
# Round to 2 decimal places
mode_export = round(mode_export, 2)

print("Mean of CIF Value-Export: ", mean_export)
print("Median of CIF Value-Export: ", median_export)
print("Mode of CIF Value-Export:", mode_export)

Mean of CIF Value-Export:  18693872658.48
Median of CIF Value-Export:  3826342674.93
Mode of CIF Value-Export: 0       2.008614e+05
1       3.209084e+05
2       4.135040e+05
3       4.223320e+05
4       4.494423e+05
            ...
1105    3.073217e+11
1106    3.082550e+11
1107    3.088808e+11
1108    3.119007e+11
1109    3.357147e+11
Name: cifvalue, Length: 1110, dtype: float64

the mode from this data are more than one because the CIF Value is a monetary meassue of export value in USD

# The Hard Way

In [ ]:
# import necessary module
import csv as csv
# open the file with "with open"

values = []

with open("Trade.csv", "r", encoding="latin1") as file:
    reader = csv.reader(file, delimiter=",")

    header = next(reader)
    header = [h.strip().lower() for h in header]

    cif_value = header.index("cifvalue")

    for row in reader:
        if len(row) > cif_value:
            cell = row[cif_value].strip()
            if cell:
                try:
                    values.append(float(row[cif_value]))
                except ValueError:
                    continue

print(f"Loaded {len(values)} cifvalue entries")

Loaded 16 cifvalue entries